[submodule "site-lisp/vimpulse"]
	path = site-lisp/vimpulse
	url = git://gitorious.org/vimpulse/vimpulse.git
[submodule "site-lisp/evil"]
	path = site-lisp/evil
	url = git://gitorious.org/evil/evil.git
[submodule "site-lisp/undo-tree"]
	path = site-lisp/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
